<script  src="/socket.io/socket.io.js"></script>
<script  src="/js/index.js"></script>

<div>
    <h1>Lista de Productos:</h1>

<div id="containerProd">
    <div class="productos">
        <ul>
            {{#each prod}}
            <br>
                <li>
                    Producto:  <b>{{title}}</b> ,
                    <br>
                    Codigo: {{code}},
                    <br>
                    Precio: {{price}},
                    <br>
                    Stock: {{stock}},
                    <br>
                    Categoria: {{description}}
                </li>
            <br>
            {{/each}}
        </ul>
    </div>


        <div class="paginate">

            <div class="page-prev">
                {{#if prod.hasPrevPage}}
                <a href="/products?page={prod.prevPage}">Anterior</a>
                {{/if}}
            </div>

            <div class="page-next">
                {{#if prod.hasNextPage}}
                <a href="/products?page={prod.nextPage}">Siguiente</a>
                {{/if}}         
            </div>

        </div>

    </div>


</div>


