<script  src="/socket.io/socket.io.js"></script>
<script  src="/js/index.js"></script>

<h1>Lista de Productos en tiempo ral:</h1>  

<div id="container">
    <div id="prod">
        <ul>
        {{#each prod}}
            <li>
                Producto:{{title}},
                Codigo:{{code}},
                Precio:{{price}},
                Stock:{{stock}},
                Categoria:{{description}}
            </li>
        {{/each}}
        </ul>
    </div>

     <div class="paginate">

            <div class="page-prev">
                {{#if prod.hasPrevPage}}
                <a href="/products?page={prod.prevPage}">Anterior</a>
                {{/if}}
            </div>

            <div class="page-next">
                {{#if prod.hasNextPage}}
                <a href="/products?page={prod.nextPage}">Siguiente</a>
                {{/if}}         
            </div>

        </div>


</div>











